{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Consultorio
        <small>Olga Francis</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    

    <div class="box box-primary">            
        <div class="box-body">           
            
        </div>
    </div>               
</section><!-- /.content -->	

{% endblock %}

{% block javascript %}

{% endblock javascript %}