{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Senha
        <small>Altera senha de acesso</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    

    <div class="box box-primary">            
        <div class="box-body">
            <form method="post">
				{% csrf_token %}
				<table class="table">
					{{ form.as_table }}
				</table>
				<button class="btn btn-primary" type="submit">Salvar</button>
				<a class="btn btn-primary" href="{% url 'app:profile' %}">Voltar</a>
			</form>
        </div>
    </div>                    
</section><!-- /.content -->	

{% endblock %}
